$primary-color:#08D7B8;
$primary-color-dark:darken($primary-color, 5%);
$warning-color:#FFF73F;
$error-color:#FF8787;
$light:#9B9B9B;
$lighter:#E9EBEE;
$shadow-light:0 0px 10px rgba(0, 0, 0, 0.1);
$black:#2E3238;

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
}
.navbar{
  border-bottom: none !important;
  box-shadow: $shadow-light;
}
.sidebar {
  font-size: 12px;
}

.sidebar-heading {
  font-size: 13px;
}

a.sidebar-link.active {
  color: $primary-color;
  border-left-color: $primary-color;
}

.content code {
  background: $lighter;
}

.container {
  margin: 1rem 0;



  .ui-btn {
    margin-bottom: 1em;
  }
}

.box {
  background: $primary-color;
  min-height: 2rem;
  margin-bottom: 1rem;
  border: 1px soild $light;
  text-align: center;
  color: #fff;
  line-height: 2rem;
}

div[class*="language-"] pre,
div[class*="language-"] pre[class*="language-"] {
  white-space: pre-wrap;
}

.ui-carousel-wrapper {
  margin: 30px 0;
}

.ui-carousel-items {
  display: flex;
}
.ui-hr{
  margin:40px 0;
}
.theme-container {
  line-height: 1.7;

  table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto
  }

  tr {
    border-top: 1px solid $lighter
  }

  tr:nth-child(2n) {
    background-color: lighten($lighter, 5%)
  }

  td,
  th {
    border: 1px solid $lighter;
    padding: .6em 1em
  }

  p {
    margin: 15px 0;
  }

  blockquote {
    margin: 20px 0;
    padding: 12px;
    border-left: 3px solid $primary-color;
    background: $lighter;
    color: $black;


    p {
      margin: 0;
      font-size: 12px;
    }
  }

  .ui-accordion-title {
    margin: 4px 0;
  }

  .ui-accordion {

    .content pre,
    .content pre[class*="language-"] {
      padding: 12px;
    }
  }
  .content pre, .content pre[class*="language-"]{
    padding:.5em;
  }

  h1, h2, h3, h4, h5, h6{
    margin-top:1em !important;
    padding-top:1em !important;
  }
}
