$primary-color:#08D7B8;
$primary-color-dark:darken($primary-color, 5%);
$warning-color:#FFF73F;
$error-color:#FF8787;
$light:#9B9B9B;
$lighter:#E9EBEE;

* {
  box-sizing: border-box;
  font-size: 14px;
}
.container {
  margin: 1rem 0;



  .ui-btn {
    margin-bottom: 1em;
  }
}

.box {
  background: $primary-color;
  min-height: 2rem;
  margin-bottom: 1rem;
  border: 1px soild $light;
  text-align: center;
  color: #fff;
  line-height: 2rem;
}

div[class*="language-"] pre,
div[class*="language-"] pre[class*="language-"] {
  white-space: pre-wrap;
}
.ui-carousel{
  margin:30px 0;
}