@import './var.scss';


.ui-accordion-container {
  border: 1px solid $lighter;
  border-radius: $radius/2;
  margin: 1rem 0;

  >.ui-accordion-item {
    &:last-child {
      border: none;
      border-radius: 0 0 $radius/2 $radius/2;
    }
    &:first-child{
      border-radius: $radius/2 $radius/2 0 0;
    }
  }
}

.ui-accordion-item {
  position: relative;
  border-bottom: 1px solid $lighter;
  padding: .5em 1em;
  user-select: none;


  &-active {
    >.ui-accordion-title {
      margin-bottom: 1em;
      color: $primary-color;

      .ui-accordion-close-icon {
        transform: rotate(-45deg);
      }
    }

  }
}

.ui-accordion-title {
  font-size: 1.2em;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: space-between;

}

.ui-accordion-close-icon {
  transition: transform .2s ease-in-out;
}
