@import './var.scss';

.ui-alert {
  position: relative;
  padding: 16px 43px 16px 28px;
  line-height: 18px;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: $shadow;
  overflow: hidden;
  border-radius: $radius/1.4;

  &-title {
    * {
      margin: 0;
    }

    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &:before {
    content: ' ';
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    width: 14px;
  }

  &-success {
    &:before {
      background: $primary-color;
    }
  }

  &-error {
    &:before {
      background: $error-color;
    }
  }

  &-warning {
    &:before {
      background: $warning-color;
    }
  }

  &-fill {
    color: #fff;

    .ui-alert-close-icon {
      &:hover {
        color: #fff;
        transform: rotate(-90deg);
      }
    }

    &.ui-alert-success {
      background: $primary-color;
    }
    &.ui-alert-warning {
      background: $warning-color;
    }
    &.ui-alert-error {
      background: $error-color;
    }
    &.ui-alert-normal {
      background: #fff;
      color:$black;
    }
  }


  &-with-title {
    .ui-alert-close-icon {
      top: 16px;
      transform: translateY(0);
    }
  }

  &-close-icon {
    color: $lighter;
    font-size: 20px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    position: absolute;
    @extend .close-icon;
    &:hover {
      color: $primary-color;
    }
  }

}
