@import './var.scss';


.ui-autocomplete {
  position: relative;
  margin:1rem 0;
  .ui-autocomplete-list {
    position: absolute;
    width: 100%;
    top: 47px;
    z-index: 100;
  }
  .ui-input{
    margin:0;
  }
}

.ui-autocomplete-list {
  border-radius: $radius/2;
  background: #fff;
  box-shadow: $shadow-light;
  border: 1px solid $lighter;
  overflow-y: scroll;
  max-height: 220px;
  min-height: 46px;
  height:auto;
  margin:0;
  padding:0;
  &-item {
    padding: .4em 1em;
    border-bottom: 1px solid $lighter;
    user-select: none;
    transition: background .1s ease-in-out;
    &:last-child {
      border: none;
    }

    &-active,&:hover {
      background: $lighter;
      cursor: pointer;
    }
  }
}
