@import './var.scss';

.ui-avatar {
  display: flex;
  align-items: center;
  user-select: none;
}

.ui-avatar-container {
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $lighter;


  .ui-avatar-image {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #fff;
    margin-left: 8px;
  }

}


.ui-avatar-name {
  padding-right: 8px;
}

.ui-avatar-string {
  font-size: 1.2em;
  font-weight: 400;
}

.ui-avatar-size-default {
  .ui-avatar-container {
    width: 40px;
    height: 40px;
  }
}

.ui-avatar-size-sm {
  .ui-avatar-container {
    width: 28px;
    height: 28px;
  }
}

.ui-avatar-size-lg {
  .ui-avatar-container {
    width: 66px;
    height: 66px;
  }

  .ui-avatar-image {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border: 2px solid #fff;
  }
}


.ui-avatar-slot {
  flex: 1;
}

.ui-avatar-circle {
  .ui-avatar-container {
    border-radius: 50%;

  }

  .ui-avatar-image {
    border-radius: 50%;
  }
}
