@import './var.scss';

.ui-card {
  background: #fff;
  position: relative;
  // overflow: hidden;
  display: inline-block;
  width: 100%;
  border-radius:$radius;
  padding:20px;
}

.ui-card-padding {
  padding: 22px;
}

.ui-card-shadow {
  transition: all .2s linear;
  box-shadow: $shadow;
}

.ui-card-shadow-hover {
  &:hover {
    transform: translateY(-6px);
    box-shadow: $shadow-hover;
  }
}

.ui-card-event {
  height: 420px;
  width: 300px;
  cursor: pointer;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .background-image {
      transform: scale(1.1);
      transition: all .4s;
    }
  }

  .ui-card-content {
    background: #fff;
    padding: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.2);
    transition: transform .4s ease-out;
    z-index: 20;
  }

  .ui-card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    word-break: break-word;
  }
  .ui-card-desp {
    padding-top: 8px;
    overflow: hidden;
  }
  &:hover {
    .ui-card-content {
      transform: translateY(0) !important;
    }
    .background {
      .background-image {
        transform: scale(1);
      }
    }
  }
  .ui-card-meta {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .ui-card-end-mark {
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    background: $primary-color;
    color: #fff;
    padding: 4px 6px;
    font-size: 12px;
  }
}

// .ui-card-event-container {
//   .ui-card-event {
//     margin: 20px;
//   }
//   @include xlarge {
//     width: 1360px;
//     margin: 40px auto;
//   }
//   @include large {
//     width: 1020px;
//     margin: 40px auto;
//   }
//   @include middle {
//     width: 680px;
//     margin: 30px auto;
//   }
//   @include small {
//     width: 340px;
//     margin: 20px auto;
//   }
// }
.ui-card-book {
  width: 300px;
  height: 460px;
  cursor: pointer;
  position:relative;
  .label{
    position:absolute;
    right:8px;
    top:15px;
    color:#fff;
    z-index:30;
    font-size:10px;
  }
  .background {
    position: absolute;
    z-index: 10;
  }
  .ui-card-meta {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 20;
    padding: 0 6px;
    font-size: 10px;
    color: #fff;
    line-height: 30px;
  }
  .ui-card-title {
    position: absolute;
    height: 150px;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 20;
    padding: 10px;
    transition: transform .4s;
    .title {
      transition:color .2s;
      margin-top: .4em;
      line-height: 1.3;
      font-weight: 400;
    }
  }
  .ui-card-userinfo {
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
    width: 100%;
    z-index: 40;
  }
}

.ui-card-article {
  cursor: pointer;
  width: 100%;
  position: relative;
  border-radius:0;
  border-bottom: 1px solid $lighter;
  .ui-card-cover-list {
    margin: 10px 0;
  }
  .background {
    margin-right: 10px;
    display: inline-block;
    border: 3px solid $lighter;
  }
  .ui-card-date {
    top: 12px;
    right: 20px;
    position: absolute;
    text-align: right;
    font-size: 12px;
    color: $light;
    .day {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .ui-card-content {
    padding: 20px 100px 20px 0;
    p {
      @include overflowText(14, 22, 5)
    }
  }
}
