@import './var.scss';

.ui-checkbox-inline {
  display: inline;
}


.ui-checkbox,
.ui-radio {
  display: inline-block;
  user-select: none;
  position: relative;

  ~.ui-checkbox,
  ~.ui-radio {
    margin-left: 1em;
  }





  label {
    position: relative;
    cursor: pointer;
    line-height: 1em;
    display: inline-block;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
}

.ui-checkbox-disabled,
.ui-radio-disabled {
  color: $light;

  label {
    cursor: not-allowed;
  }

  .ui-checkbox-box,
  .ui-radio-box {
    border-color: $lighter !important;
  }

  .ui-radio-box {
    &:before {
      background: $lighter !important;
    }
  }
}

.ui-checkbox {
  label {
    padding-left: 1.6em;
  }

  .ui-checkbox-box {
    color: $primary-color;
    background: #fff;
    border: 1px solid $lighter;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    background: #fff;
    transition: all .2s ease-in-out;
    transition-property: border, box-shadow;

    svg {
      fill: currentColor;
      opacity: 0;
      transition: all .2s ease-in-out;
      transform: scale(.2);
      position: absolute;
      top: 0;
      left: 2px;
    }

  }
}

.ui-checkbox-indeterminate {
  &.ui-checkbox-checked {
    .ui-checkbox-box {
      background: $primary-color;
      color: #fff;
    }
  }
}

.ui-checkbox-indeterminate,
.ui-checkbox-checked {
  .ui-checkbox-box {
    border-color: lighten($primary-color, 15%);
    box-shadow: 1px 1px 8px rgba($primary-color, .3)
  }
}

.ui-checkbox-indeterminate-bar {
  position: absolute;
  height: 4px;
  width: 8px;
  border-radius: 10px;
  background: #fff;
  top: 5px;
  left: 3px;
}

.ui-checkbox-checked {
  .ui-checkbox-box {
    svg {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.ui-radio {
  label {
    padding-left: 1.4em;
  }

  .ui-radio-box {
    width: 1em;
    height: 1em;
    border: 1px solid $lighter;
    border-radius: 50%;
    position: absolute;
    left: 0;

    &:before {
      content: ' ';
      position: absolute;
      width: 66%;
      height: 66%;
      opacity: 0;
      border-radius: 50%;
      transition: all .2s ease-in;
      transform: scale(.2);
      top: 2px;
      left: 2px;
    }
  }

}

.ui-radio-checked {
  .ui-radio-box {
    border-color: lighten($primary-color, 15%);
    box-shadow: 1px 1px 8px rgba($primary-color, .3);

    &:before {
      background: $primary-color;
      transform: scale(1);
      opacity: 1;
    }
  }
}



.ui-toggle {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  height: 2em;
  // @include colorToggle(color(default), color(ddefault));
  // border: 1px solid color(border);
  // border-radius: $radiusDefault;
  margin-top: 5px;
  margin-bottom: 5px;

  &.ui-checkbox-rounded {
    // border-radius: $radiusRound;
  }

  label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 200%;
    // transition: left $transitionTimeToggle;
    // -webkit-transition: left $transitionTimeToggle;
  }

  &.ui-checkbox-checked label {
    left: 0;
  }

  &.ui-checkbox-disabled label {
    cursor: not-allowed;
  }

  .ui-toggle-label {
    // padding: $paddingVertical $paddingHorizontal;
    // transition: background $transitionTimeToggle;
    // -webkit-transition: background $transitionTimeToggle;

    position: absolute;
    top: 0;
    bottom: 0;
    // border-radius: $radiusDefault;
    color: inherit;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    text-align: center;

    &.labelOn {
      left: 0;
      // padding-right: $paddingHorizontal + 30px;
    }

    &.labelOff {
      right: 0;
      // padding-left: $paddingHorizontal + 30px;
    }
  }

  .ui-toggle-switch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    // border: 1px solid color(border);
    // border-radius: $radiusDefault;
    width: 20px;
    z-index: 20;
    background: white;
  }

  &.ui-checkbox-rounded {

    .ui-toggle-label,
    .ui-toggle-switch {
      // border-radius: $radiusRound;
    }
  }



}
