@import './var.scss';

.ui-checkbox,
.ui-radio {
  display: inline-block;
  user-select: none;
  position: relative;


  ~.ui-checkbox,
  ~.ui-radio {
    margin-left: 20px;
  }

  .ui-checkbox-box,
  .ui-radio-box {
    transition: all .2s ease-in-out;
    box-sizing: content-box;


  }

  label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 28px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
}

.ui-checkbox-disabled,
.ui-radio-disabled {
  color: $light;

  label {
    cursor: not-allowed;
  }

  .ui-checkbox-box,
  .ui-radio-box {
    border-color: $lighter !important;
  }

  .ui-radio-box {
    &:before {
      background: $lighter !important;
    }
  }
}

.ui-checkbox {

  .ui-checkbox-box {
    color: $primary-color;
    background: #fff;
    border: 1px solid $lighter;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    background: #fff;

    svg {
      fill: currentColor;
      opacity: 0;
      transition: all .2s ease-in-out;
      transform: scale(.2);
      position: absolute;
      top: 3px;
      left: 4px;
    }

  }
}

.ui-checkbox-indeterminate {
  &.ui-checkbox-checked {
    .ui-checkbox-box {
      background: $primary-color;
      color: #fff;
    }
  }
}


.ui-checkbox-checked {
  .ui-checkbox-box {
    border-color: lighten($primary-color, 15%);
    box-shadow: 1px 1px 8px rgba($primary-color, .4)
  }
}

.ui-checkbox-indeterminate {
  .ui-checkbox-box {
    border-color: $light;
    box-shadow: 1px 1px 8px rgba($light, .3)
  }
}

.ui-checkbox-indeterminate-bar {
  position: absolute;
  height: 4px;
  width: 14px;
  border-radius: 10px;
  background: $light;
  top: 8px;
  left: 3px;
}

.ui-checkbox-checked {
  .ui-checkbox-box {
    svg {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.ui-radio {


  .ui-radio-box {
    width: 18px;
    height: 18px;
    border: 1px solid $lighter;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background: #fff;

    &:before {
      content: ' ';
      position: absolute;
      width: 12px;
      height: 12px;
      opacity: 0;
      border-radius: 50%;
      transition: all .2s ease-in;
      transform: scale(.2);
      top: 3px;
      left: 3px;
    }
  }
}

.ui-radio-checked {
  .ui-radio-box {
    border-color: lighten($primary-color, 15%);
    box-shadow: 1px 1px 8px rgba($primary-color, .3);

    &:before {
      background: $primary-color;
      transform: scale(1);
      opacity: 1;
    }
  }
}





.ui-radio-toggle.ui-radio,
.ui-checkbox-toggle.ui-checkbox {
  label {
    padding-left: 2.9em;
  }

  .ui-checkbox-box {
    position: absolute;

    &:before {
      content: ' ';
      position: absolute;
      border-radius: 50%;
      left: 2px;
      transition: all .2s ease-in-out;
    }
  }

  .ui-radio-box,
  .ui-checkbox-box {
    width: 33px;
    border-radius: 24px;

    &:before {
      top: 1px;
      width: 15px;
      height: 15px;
      opacity: 1;
      background: $lighter;
      transform: scale(1);
    }
  }

  &.ui-radio-checked,
  &.ui-checkbox-checked {

    .ui-radio-box,
    .ui-checkbox-box {
      background: $primary-color;
      border-color: $primary-color;

      &:before {
        background: #fff;
        transform: translateX(15px);
      }
    }
  }

  &.ui-checkbox-indeterminate {
    .ui-checkbox-box {}
  }
}
