@import './var.scss';
@import './popover.scss';

.ui-dropdown {
  position: relative;
  display: inline-block;
}

.ui-dropdown-arrow {
  @extend .ui-popover-arrow;
}

.ui-dropdown-menu {

  position: fixed;


  .ui-dropdown-content {
    @extend .ui-popover-menu;
    min-height: 22px;
    min-width: 60px;
  }
}
