@import './var.scss';
@import './popover.scss';

.ui-dropdown {
  position: relative;
}

.ui-dropdown-triangle {
  @extend .ui-popover-triangle;
}

.ui-dropdown-menu {

  position: fixed;


  .ui-dropdown-content {
    @extend .ui-popover-menu;
    min-height: 32px;
    min-width: 400px;
  }
}
