@import './var.scss';

@mixin ui-image() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.ui-image {
  position: relative;
  background: $lighter;
  height: 160px;
  width: 100%;
  overflow: hidden;

  &-keep-size {
    .ui-image-image {
      background-size: initial;
    }
  }
}

.ui-image-cover,
.ui-image-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.ui-image-image {
  @include ui-image();
}

.ui-image-cover {
  background-color: rgba(0, 0, 0, .1)
}

.ui-image-slot {
  z-index: 10;
}
