@import './var.scss';




.ui-modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
  margin: 0.5rem;
}


.ui-modal {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 470px;
  max-width: 90%;
  box-shadow: $shadow;
  background: #fff;
  border-radius: $radius/2;
  display: flex;
  flex-direction: column;
  outline: 0;
  background-clip: padding-box;

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $padding/2 $padding;
  }

  &-body {
    margin: $padding/2 0;
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    flex: 1 1 auto;
    padding: $padding/2 $padding;
  }

  &-footer {
    padding: $padding/2 $padding;
  }
}



.modal-enter-active,
.modal-leave-active {
  transition: all .2s ease-in-out;
  // transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0) scale(1);
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -80%, 0) scale(.9);
}
