@import './var.scss';

.ui-modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  min-width: 360px;
  z-index: 1200;
  max-width: 99%;
  @include sm{
    max-width: 95%;
  }
  &-inner {
    position: relative;
    border-radius: $radius;
    background: #fff;
    box-shadow: $shadow;
    padding:16px 22px;
  }

  &-close-icon {
    position: absolute;
    top: 18px;
    right: 22px;
    cursor: pointer;
    font-size:16px;
    &:hover{
     color: $primary-color;
    }
    @extend .close-icon;
  }
  &-header{
   font-size:18px;
  }
  &-content{
   padding:20px 0;
  }
  &-footer{

  }
}



.modal-enter-active,
.modal-leave-active {
  transition: all .2s ease-in-out;
  // transform: translate3d(-50%, -50%, 0);
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -80%, 0);
}
