@import './var.scss';


.ui-modal {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;

  &-size {
    &-lg {
      // width: 620px;
    }

    &-sm {
      // width: 460px;
    }
  }


  &-inner {
    position: relative;
    border-radius: $radius/2;
    background: #fff;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: 0;
    background-clip: padding-box;
  }

  &-close {
    // position: absolute;
    // top: 18px;
    // right: 22px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      color: $primary-color;
    }

    @extend .close-icon;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $padding/2;
  }

  &-content {
    margin: $padding/2 0;
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    flex: 1 1 auto;
    padding: $padding/2;
  }

  &-footer {
    padding: $padding/2;
  }
}



.modal-enter-active,
.modal-leave-active {
  transition: all .2s ease-in-out;
  // transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0) scale(1);
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -80%, 0) scale(.8);
}
