@import './var.scss';

.ui-popover {
  display: block !important;
  z-index: 10000;

  &-inner {
    background: #fff;
    border-radius: $radius/2;
    padding: 4px 11px;
    box-shadow: $shadow;
  }

  &-arrow {
    position: absolute;
    box-sizing: border-box;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #fff;
  }

  &[x-placement^="top"] {
    margin-bottom: 8px;

    .ui-popover-arrow {
      border-width: 8px 8px 0 8px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -8px;
      transform: translateX(-8px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 8px;

    .ui-popover-arrow {
      border-width: 0 8px 8px 8px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -8px;
      // transform: translateX(-8px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 8px;

    .ui-popover-arrow {
      border-width: 8px 8px 8px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -8px;
      top: calc(50% - 8px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 8px;

    .ui-popover-arrow {
      border-width: 8px 0 8px 8px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -8px;
      top: calc(50% - 8px);
      margin-left: 0;
      margin-right: 0;
    }
  }


  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  .trigger,
  .trigger>* {
    cursor: pointer;

    &:focus {
      outline: none;

    }
  }
}


.ui-dropdown {
  .ui-popover-inner {
    padding: 0;
  }
}

// .ui-popover-menu {
//   // border-radius: $radius;
//   box-shadow: $shadow;

//   background: #fff;

//   overflow: hidden;

//   .ui-popover-item {
//     user-select: none;
//     padding: 6px 14px;
//     border-bottom: 1px solid $lighter;

//     .ui-icon {
//       margin-right: 8px;
//     }

//     &:last-child {
//       border: none;
//     }

//     &:hover {
//       background: $lighter;
//     }
//   }
// }

// .ui-popover-menu-vertical {}

// .ui-popover-menu-horizon {
//   ul {
//     display: flex;
//   }

//   .ui-popover-item {
//     text-align: center;
//     flex: 1;
//     border-right: 1px solid $lighter;
//     border-bottom: none;

//     .icon {
//       margin-right: 0;
//     }
//   }
// }

// .ui-popover-content,
// .ui-dropdown-content {
//   padding: 6px 12px;
// }

// .ui-popover-with-close {
//   display: flex;
//   align-items: center;
//   padding-right: 6px;

//   .ui-popover-content {
//     padding-right: 16px;
//   }

//   .ui-popover-close-icon {
//     font-size: small;

//     .ui-icon {
//       cursor: pointer;
//       transition: all .3s ease-in-out;
//     }

//     &:hover {
//       .ui-icon {
//         transform: rotate(-90deg);
//         color: $primary-color;
//       }
//     }
//   }
// }

// .ui-dropdown-trigger {
//   display: inline-block;
// }
