@import './var.scss';

.ui-popover {
  display: inline-block;

  &-menu {
    background: #fff;
    border-radius: $radius/2;
    padding: 4px 11px;
    box-shadow: $shadow;
    word-break: break-all;
    &[x-placement^="top"] {
      .ui-popover-arrow {
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        left:50%;
      }
    }

    &[x-placement^="bottom"] {
      .ui-popover-arrow {
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        left:50%;
      }
    }

    &[x-placement^="right"] {
      .ui-popover-arrow {
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        top:50%;
      }
    }

    &[x-placement^="left"] {
      .ui-popover-arrow {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        top:50%;
      }
    }
  }

  &-arrow {
    position: absolute;
    box-sizing: border-box;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #fff;
  }

}


.ui-dropdown {
  .ui-popover-inner {
    padding: 0;
  }
}

// .ui-popover-menu {
//   // border-radius: $radius;
//   box-shadow: $shadow;

//   background: #fff;

//   overflow: hidden;

//   .ui-popover-item {
//     user-select: none;
//     padding: 6px 14px;
//     border-bottom: 1px solid $lighter;

//     .ui-icon {
//       margin-right: 8px;
//     }

//     &:last-child {
//       border: none;
//     }

//     &:hover {
//       background: $lighter;
//     }
//   }
// }

// .ui-popover-menu-vertical {}

// .ui-popover-menu-horizon {
//   ul {
//     display: flex;
//   }

//   .ui-popover-item {
//     text-align: center;
//     flex: 1;
//     border-right: 1px solid $lighter;
//     border-bottom: none;

//     .icon {
//       margin-right: 0;
//     }
//   }
// }

// .ui-popover-content,
// .ui-dropdown-content {
//   padding: 6px 12px;
// }

// .ui-popover-with-close {
//   display: flex;
//   align-items: center;
//   padding-right: 6px;

//   .ui-popover-content {
//     padding-right: 16px;
//   }

//   .ui-popover-close-icon {
//     font-size: small;

//     .ui-icon {
//       cursor: pointer;
//       transition: all .3s ease-in-out;
//     }

//     &:hover {
//       .ui-icon {
//         transform: rotate(-90deg);
//         color: $primary-color;
//       }
//     }
//   }
// }

// .ui-dropdown-trigger {
//   display: inline-block;
// }
