@import './var.scss';
@import './animate.scss';

.ui-progress-type-ring {
  position: relative;
  text-align: center;

  .ui-progress-ring-inner {
    stroke-linecap: round;
    transition: stroke-dashoffset 1s linear;
  }

  &::after {
    content: attr(data-pct);
    font-size: 10px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  svg {
    transform: rotate(-90deg);
  }
}

.ui-progress-type-bar {
  border-radius: $radius/2;
  overflow: hidden;
  background: $lighter;
  .ui-progress-bar {
    height: 100%;
    display: flex;
    border-radius: $radius/2;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    color: #fff;
    background: $primary-color;
  }
}

.ui-progress {
  &-animate {
    .ui-progress-ring-inner {
      transform-origin: 50% 50%;
      animation-duration: 1s;
      @extend .animated;
      @extend .animated.infinite;
      @extend .spin;
    }

    .ui-progress-bar {
      background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
      background-size: 1rem 1rem;
      @extend .animated;
      @extend .animated.infinite;
      @extend .stripes;
    }
  }
}


.ui-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  user-select: none;

  &-indeterminate {
    .ui-loading-bar-indeterminate-bg1 {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    .ui-loading-bar-indeterminate-bg2 {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}
