@import './var.scss';


.ui-tag {

  display: inline-block;
  background: $lighter;
  border-radius: $radius;
  position: relative;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 1;
  }

  &-warning {
    background: $warning-color;
    color: #fff;
  }

  &-error {
    background: $error-color;
    color: #fff;
  }

  &-success {
    background: $primary-color;
    color: #fff;
  }

  &-border {
    background: #fff;
    border: 1px solid $lighter;
  }

  &-size {
    &-sm {
      padding: .4em 1em;
    }

    &-lg {
      padding: .6em 1em;
    }
  }
}


.ui-tag-with-icon {
  .ui-tag-inner {
    .ui-tag-slot {
      padding-right: 1em;
    }
  }


  .ui-icon-close {
    cursor: pointer;
    transition: transform .2s ease-in-out;
    &:hover {
      transform: rotate(-90deg);
    }



  }

}
