@import './var.scss';

.ui-textarea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-size: 16px;
  margin: 1rem 0;
  color: $black;
  border-radius: $radius / 2;
  border: 1px solid $lighter;
  padding: 11px 0;
  transition: all .2s ease-in-out;

  .ui-textarea-inner {
    border: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2em;
    color: $black;
    width: 100%;
    padding: 0 12px;
    margin-left: 1px;
    margin-right: 2px;

    &::-webkit-input-placeholder {
      color: $light;

    }
  }

  &-focusin {
    border-color: lighten($primary-color, 15%);
    box-shadow: $shadow-light;

    .ui-textarea-prefix {
      color: $primary-color;
    }

    &.ui-textarea-disabled,
    &.ui-textarea-readonly {

      .ui-textarea-prefix {
        color: $light;
      }
    }
  }

  &-disabled,
  &-disabled .ui-textarea-inner {
    cursor: not-allowed;
    background: $lighter;
    border-color: $light;
  }

  &-readonly,
  &-readonly .ui-textarea-inner {
    border-color: $light;
    color: $light;
    cursor: crosshair;

  }

  &-with-prefix {
    .ui-textarea-inner {
      padding-left: 0;
      margin-top: 2px;
    }
  }

  &-counter {
    position: absolute;
    bottom: -18px;
    right: 2px;
    font-size: 10px;
    color: $light;

  }
}

.ui-textarea-prefix {
  padding: 0 8px;
  color: $light;
  white-space: nowrap;
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  transition: all .2s ease-in-out;
}
