@import './var.scss';
@import './animate.scss';

.ui-toast-wrapper {
  position: fixed;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  transition: all .3s;
  pointer-events: none;
  max-width: 80%;
}

.ui-toast-wrapper-x-left {
  left: 20px;
  align-items: flex-start;

  .ui-toast-icon {
    left: 0;
  }

  .ui-toast-background {
    transform-origin: left;
    left: 0;
  }

  .ui-toast-content {
    padding-left: 54px;
    padding-right: 20px;
  }

}

.ui-toast-wrapper-x-right {
  right: 20px;
  align-items: flex-end;

  .ui-toast-icon {
    right: 0;
  }

  .ui-toast-background {
    transform-origin: right;
    right: 0;
  }

  .ui-toast-content {
    padding-right: 54px;
    padding-left: 20px;
  }
}

.ui-toast-wrapper-x-center {
  left: 50%;
  transform: translateX(-50%);

  .ui-toast-content {
    padding-right: 20px;
    padding-left: 54px;
  }

  &.ui-toast-wrapper-y-center {
    transform: translateX(-50%) translateY(-50%);

    .ui-toast {
      margin-bottom: 20px;
    }
  }
}

.ui-toast-wrapper-y-center {
  top: 50%;
  transform: translateY(-50%);
}

.ui-toast-wrapper-y-top {
  top: 20px;

  .ui-toast {
    margin-bottom: 20px;
  }
}

.ui-toast-wrapper-y-bottom {
  bottom: 20px;

  .ui-toast {
    margin-top: 20px;
  }
}


.ui-toast {
  transition: all .3s ease-in-out;
  position: relative;
  min-width: 300px;
  // max-width: 80%;
  min-height: 44px;
  flex: 1;
  pointer-events: all;

  &-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    box-shadow: $shadow;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    @extend .animated;
    z-index: 2004;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    .ui-icon {
      font-size: 20px
    }
  }

  &-background {
    // padding: 12px 57px 12px 8px;
    background: #fff;
    // min-height: 44px;
    // overflow: hidden;
    box-shadow: $shadow;
    border-radius: 44px;
    height: 44px;
    width: 100%;
    position: absolute;
    z-index: 2001;
    @extend .animated;
    transition: all .3s ease-in-out;

  }

  &-content {
    position: relative;
    // background: red;
    z-index: 2003;
    height: 44px;
    white-space: nowrap;
    line-height: 44px;
    // overflow: hidden;
    transition: all .3s ease-in-out;
  }

}

.ui-toast-info {
  .ui-toast-icon {
    background: $primary-color;

  }
}

.ui-toast-warning {
  .ui-toast-icon {
    background: $warning-color;

  }
}

.ui-toast-error {
  .ui-toast-icon {
    background: $error-color;

  }
}







.ui-toast-close {
  position: absolute;
  width: 44px;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;

  .ui-icon {
    color: #fff;
    font-size: 20px;
  }
}

.ui-toast-action {
  margin-top: 1em;

  .ui-toast-action-item {
    background: lighten($lighter, 3%);
    padding: 3px 10px;
    min-width: 44px;
    border-radius: $radius/1.4;
    cursor: pointer;
    margin-right: 1em;
    user-select: none;

    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }

}

.ui-toast-wrapper-y-top {

  .ui-toast-animation-enter,
  .ui-toast-animation-leave-to {
    transform: translateY(-20px);
  }
}

.ui-toast-wrapper-y-bottom {

  .ui-toast-animation-enter,
  .ui-toast-animation-leave-to {
    transform: translateY(20px);
  }
}




.ui-message {
  &-info {
    .ui-message-icon {
      background: $primary-color;
    }
  }

  &-error {
    .ui-message-icon {
      background: $error-color;
    }
  }

  &-warning {
    .ui-message-icon {
      background: $warning-color;
    }
  }

  &-content {
    background: #fff;
    box-shadow: $shadow;
    border-radius: $radius;
    min-height: 44px;
    padding: 0 22px;
    @extend .animated;

    &-with-icon {
      padding-left: 60px;
    }

    &-with-close {
      padding-right: 40px;
    }


  }

  &-title {
    padding-top: 12px;
    font-size: 18px;
    font-weight: 400;
  }

  &-message {
    line-height: 1.8;
    padding: 12px 0;

  }

  .ui-message-icon {
    position: absolute;
    height: 100%;
    width: 44px;
    border-radius: $radius 0 0 $radius;
    color: #fff;
    top: 0;
    left: 0;

    .ui-icon {
      font-size: 18px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ui-message-close {
    position: absolute;
    top: 16px;
    right: 12px;

    .ui-icon {
      color: $light;

      &:hover {
        color: $primary-color;
      }

      @extend .close-icon;
    }
  }
  .ui-message-actions{
    padding:12px 0;
    >span{
      font-size:12px;
      margin-right: 10px;
      cursor: pointer;
      background: $lighter;
      padding:2px 8px;
      border-radius: $radius;
      transition: all .2s ease-in-out;
      &:hover{
        background: $light;
        color:#fff;
      }
    }
  }
}
