@import './var.scss';

.ui-tooltip {
  min-width: 100px;
  min-height: 28px;

  &-with-close {
    position: relative;
    .ui-tooltip-content{
     padding-right: 22px;
    }
  }

  .ui-tooltip-close-icon {
    position: absolute;
    top: 0px;
    right: 4px;

    .ui-icon {
      font-size: 10px;
       @extend .close-icon;
    }
  }
}

.ui-tooltip-content {
  padding: 6px 10px;
  font-size: 12px;
}
