$primary-color:#08D7B8;
$primary-color-dark:darken($primary-color, 5%);
$warning-color:#FFF73F;
$error-color:#FF8787;
$light:#9B9B9B;
$lighter:#E9EBEE;
$black:#333;
$shadow:4px 3px 26px rgba(0, 0, 0, 0.1);
$shadow-hover:5px 4px 32px rgba(0, 0, 0, 0.2);
$shadow-sm:2px 2px 16px rgba(0, 0, 0, 0.1);
$radius:14px;
$gutter:1rem;
$margin:2rem;
$xs:30;
$sm:48;
$md:64;
$lg:75;


@mixin xs {
  @media (min-width: $sx+0rem) {
    @content
  }
}

@mixin sm {
  @media (min-width: $sm+0rem) {
    @content
  }
}

@mixin md {
  @media (min-width: $md+0rem) {
    @content
  }
}

@mixin lg {
  @media (min-width: $lg+0rem) {
    @content
  }
}

@mixin overflowText($fontSize, $lineHeight, $line) {
  font-size: $fontSize+px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  line-height: $lineHeight+px;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}